[Unit]
Description=Bitskins Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/oxideops/skin-trader
ExecStart=/home/oxideops/skin-trader/target/release/bitskins
StandardOutput=append:/var/log/bitskins.log
StandardError=append:/var/log/bitskins.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

